In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
from IPython.display import display
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [3]:
%pwd

'/Users/gunsu/Documents/notebooks'

In [4]:
os.chdir('/Users/gunsu/Documents/notebooks/')

In [5]:
os.chdir('/Users/gunsu/Desktop/')

In [6]:
df=pd.read_excel('df_uni.xlsx',index_col=False)

In [16]:
df.head(2)

,UPC,COC,COC?,Consolidated_UPC_CoC,Name,Name_new,Product,StoreId,ScanId,Date,Facing,Shift,Brand,Category,Manufacturer,Aisle_Length,Shelf,Position,Size,Product_Type,OSA,Store_Names,OOS,New
0,8690637919916,NonCore,8690637919916,NaN,1 Dakika Super Sac Kremi (blue) 170ml,1 Dakika Super Sac Kremi (blue),1 Dakika Super Sac Kremi,52,52120920191,2019-12-09,2,morning,Dove,Hair Care,Unilever,50,2,27,170ml,Krem,1,Cekmekoy,0,0
1,8690637919916,NonCore,8690637919916,NaN,1 Dakika Super Sac Kremi (blue) 170ml,1 Dakika Super Sac Kremi (blue),1 Dakika Super Sac Kremi,52,52120920192,2019-12-09,1,afternoon,Dove,Hair Care,Unilever,50,2,27,170ml,Krem,1,Cekmekoy,0,0

In [79]:
df_c=df[['Product','Date','Facing','Shift','Brand','COC','Manufacturer','Shelf','Position','Size','Product_Type',
      'OSA','Store_Names','OOS']]

In [80]:
df_c.head()

,Product,Date,Facing,Shift,Brand,COC,Manufacturer,Shelf,Position,Size,Product_Type,OSA,Store_Names,OOS
0,1 Dakika Super Sac Kremi,2019-12-09,2,morning,Dove,NonCore,Unilever,2,27,170ml,Krem,1,Cekmekoy,0
1,1 Dakika Super Sac Kremi,2019-12-09,1,afternoon,Dove,NonCore,Unilever,2,27,170ml,Krem,1,Cekmekoy,0
2,1 Dakika Super Sac Kremi,2019-12-09,2,evening,Dove,NonCore,Unilever,2,27,170ml,Krem,1,Cekmekoy,0
3,1 Dakika Super Sac Kremi,2019-12-10,2,morning,Dove,NonCore,Unilever,2,27,170ml,Krem,1,Cekmekoy,0
4,1 Dakika Super Sac Kremi,2019-12-10,2,afternoon,Dove,NonCore,Unilever,2,27,170ml,Krem,1,Cekmekoy,0

In [81]:
from collections import OrderedDict 
from datetime import datetime as dt
import random

In [106]:
df_size=df_c[['Product','Date','Size','Shift','Brand','Store_Names','COC','Manufacturer','Facing','OSA','OOS']]

In [107]:
df_size['Date']=pd.to_datetime(df_size['Date'])

In [108]:
df_size['Year_Month']=df_size['Date'].dt.strftime('%Y-%m')

In [109]:
df_size = df_size.sort_values(['Product', 'Date']).\
groupby(['Product','Brand','Manufacturer','Date','Store_Names','COC'], sort=False)\
.Size.apply(','.join).reset_index(name='sizes')

In [110]:
df_size['sizes_available'] = (df_size['sizes'].str.split(",")
                              .apply(lambda x: OrderedDict.fromkeys(x).keys()).str.join('->'))

In [111]:
df_size.drop(columns='sizes',inplace=True)

In [112]:
df_size.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44713 entries, 0 to 44712
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Product          44713 non-null  object
 1   Brand            44713 non-null  object
 2   Manufacturer     44713 non-null  object
 3   Date             44713 non-null  datetime64[ns]
 4   Store_Names      44713 non-null  object
 5   COC              44713 non-null  object
 6   sizes_available  44713 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 2.4+ MB

In [1]:
df_size.head(10)

NameError: name 'df_size' is not defined

In [114]:
%pwd

'/Users/gunsu/Desktop'

In [115]:
df_size.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44713 entries, 0 to 44712
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Product          44713 non-null  object
 1   Brand            44713 non-null  object
 2   Manufacturer     44713 non-null  object
 3   Date             44713 non-null  datetime64[ns]
 4   Store_Names      44713 non-null  object
 5   COC              44713 non-null  object
 6   sizes_available  44713 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 2.4+ MB

In [116]:
df_size.to_excel('df_size.xlsx',index=False)

In [117]:
df_c['Facing2']=df_c['Facing']

In [118]:
df_cal=df_c.groupby(['Product','Date','Brand','Store_Names'
               ]).agg({'OOS': lambda x: x.max(),
                      'Facing':'mean',
                      'Facing2':'sum'})

In [119]:
df_cal.reset_index(inplace=True)

In [122]:
df_cal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44713 entries, 0 to 44712
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Product      44713 non-null  object
 1   Date         44713 non-null  datetime64[ns]
 2   Brand        44713 non-null  object
 3   Store_Names  44713 non-null  object
 4   OOS          44713 non-null  int64
 5   Facing       44713 non-null  float64
 6   Facing2      44713 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 2.4+ MB

In [123]:
df_final=pd.merge(df_size,
                 df_cal,
                 on=['Product','Date','Brand','Store_Names'],
                 how='inner')

In [124]:
df_final.head()

,Product,Brand,Manufacturer,Date,Store_Names,COC,sizes_available,OOS,Facing,Facing2
0,1 Dakika Super Sac Kremi,Dove,Unilever,2019-12-09,Cekmekoy,NonCore,170ml,0,1.666667,5
1,1 Dakika Super Sac Kremi,Dove,Unilever,2019-12-09,Beylikduzu Koctas,NonCore,170ml,0,3.500000,21
2,1 Dakika Super Sac Kremi,Dove,Unilever,2019-12-10,Cekmekoy,NonCore,170ml,0,2.000000,6
3,1 Dakika Super Sac Kremi,Dove,Unilever,2019-12-10,Beylikduzu Koctas,NonCore,170ml,0,2.666667,16
4,1 Dakika Super Sac Kremi,Dove,Unilever,2019-12-11,Cekmekoy,NonCore,170ml,0,2.000000,6

In [125]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44713 entries, 0 to 44712
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Product          44713 non-null  object
 1   Brand            44713 non-null  object
 2   Manufacturer     44713 non-null  object
 3   Date             44713 non-null  datetime64[ns]
 4   Store_Names      44713 non-null  object
 5   COC              44713 non-null  object
 6   sizes_available  44713 non-null  object
 7   OOS              44713 non-null  int64
 8   Facing           44713 non-null  float64
 9   Facing2          44713 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 3.8+ MB

In [126]:
df_final.to_excel('df_final.xlsx',index=False)

In [76]:
#df_size[(df_size['Product']=='Co-Creations Guclu ve Parlak Sampuan') ]
        #& 
       # (df_size['Store_Names']=='Avantaj Ikitelli')] #& (df_size['Year_Month']=='2020-01')]

Empty DataFrame
Columns: [Product, Brand, Manufacturer, Date, OOS, OSA, Facing, COC, Store_Names, sizes_available, Year_Month]
Index: []

df['New']=df.groupby(['Product','Date','Facing','Brand','COC','Store_Names','Manufacturer'
                      ,'Shelf','Position','Size','Product_Type','OSA','Shift']).cumcount()

newdf=df.pivot_table(values='OOS',index=['Product','Date','Facing','Brand','COC','Store_Names','Manufacturer'
                      ,'Shelf','Position','Product_Type','OSA','Shift','New'],columns='Size').reset_index()

In [20]:
newdf.fillna(0,inplace=True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139198 entries, 0 to 139197
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   UPC                   139198 non-null  int64
 1   COC                   139198 non-null  object
 2   COC?                  139198 non-null  object
 3   Consolidated_UPC_CoC  0 non-null       float64
 4   Name                  139198 non-null  object
 5   Name_new              139198 non-null  object
 6   Product               139198 non-null  object
 7   StoreId               139198 non-null  int64
 8   ScanId                139198 non-null  int64
 9   Date                  139198 non-null  datetime64[ns]
 10  Facing                139198 non-null  int64
 11  Shift                 139198 non-null  object
 12  Brand                 139198 non-null  object
 13  Category              138319 non-null  object
 14  Manufacturer          139198 non-null  object
 15  Aisle_Length          139198 non-null  int64
 16  Shelf                 139198 non-null  int64
 17  Position              139198 non-null  int64
 18  Size                  139198 non-null  object
 19  Product_Type          139198 non-null  object
 20  OSA                   139198 non-null  int64
 21  Store_Names           139198 non-null  object
 22  OOS                   139198 non-null  int64
 23  New                   139198 non-null  int64
 24  New2                  139198 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(11), object(12)
memory usage: 26.6+ MB

In [30]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139198 entries, 0 to 139197
Data columns (total 38 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Product        139198 non-null  object
 1   Date           139198 non-null  datetime64[ns]
 2   Facing         139198 non-null  int64
 3   Brand          139198 non-null  object
 4   COC            139198 non-null  object
 5   Store_Names    139198 non-null  object
 6   Manufacturer   139198 non-null  object
 7   Shelf          139198 non-null  int64
 8   Position       139198 non-null  int64
 9   Product_Type   139198 non-null  object
 10  OSA            139198 non-null  int64
 11  Shift          139198 non-null  object
 12  New            139198 non-null  int64
 13  100ml          139198 non-null  float64
 14  150ml          139198 non-null  float64
 15  170ml          139198 non-null  float64
 16  180ml          139198 non-null  float64
 17  2 x 500ml      139198 non-null  float64
 18  200ml          139198 non-null  float64
 19  250ml          139198 non-null  float64
 20  275ml          139198 non-null  float64
 21  300ml          139198 non-null  float64
 22  360ml          139198 non-null  float64
 23  400ml          139198 non-null  float64
 24  450ml          139198 non-null  float64
 25  470ml          139198 non-null  float64
 26  480ml          139198 non-null  float64
 27  500ml          139198 non-null  float64
 28  500ml + 180ml  139198 non-null  float64
 29  520ml          139198 non-null  float64
 30  525ml          139198 non-null  float64
 31  550ml          139198 non-null  float64
 32  600ml          139198 non-null  float64
 33  650ml          139198 non-null  float64
 34  700ml          139198 non-null  float64
 35  75ml           139198 non-null  float64
 36  No Size        139198 non-null  float64
 37  New2           139198 non-null  int64
dtypes: datetime64[ns](1), float64(24), int64(6), object(7)
memory usage: 40.4+ MB

In [28]:
newdf[newdf['OSA']==0].head()

Size,Product,Date,Facing,Brand,COC,Store_Names,Manufacturer,Shelf,Position,Product_Type,OSA,Shift,New,100ml,150ml,170ml,180ml,2 x 500ml,200ml,250ml,275ml,300ml,360ml,400ml,450ml,470ml,480ml,500ml,500ml + 180ml,520ml,525ml,550ml,600ml,650ml,700ml,75ml,No Size,New2
195,1 Dakika Super Sac Kremi,2020-01-03,0,Dove,NonCore,Cekmekoy,Unilever,2,27,Krem,0,evening,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
222,1 Dakika Super Sac Kremi,2020-01-06,0,Dove,NonCore,Beylikduzu Koctas,Unilever,2,5,Krem,0,evening,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
231,1 Dakika Super Sac Kremi,2020-01-07,0,Dove,NonCore,Beylikduzu Koctas,Unilever,2,5,Krem,0,morning,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
267,1 Dakika Super Sac Kremi,2020-01-11,0,Dove,NonCore,Beylikduzu Koctas,Unilever,2,15,Krem,0,evening,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
272,1 Dakika Super Sac Kremi,2020-01-12,0,Dove,NonCore,Beylikduzu Koctas,Unilever,2,15,Krem,0,afternoon,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [31]:
newdf.to_csv('new_df.csv',index=False)

In [32]:
%pwd

'/Users/gunsu/Desktop'

In [24]:
df['New2']=df.groupby(['Product','Date','Facing','Brand','COC','Store_Names','Manufacturer'
                      ,'Shelf','Position','Size','Product_Type','OSA','Shift']).cumcount()

!pip install pygsheets

!pip install gspread

In [ ]:
import pygsheets

gc=pygsheets.authorize(client_secret='ghtojupyter28596-a882b1450011.json')

sh=gc.open('Gunsu_Unilever')

!pip install --upgrade google-auth

!pip install gspread-dataframe

In [ ]:
from gspread_dataframe import get_as_dataframe, set_with_dataframe

In [ ]:
import gspread
from google.oauth2.service_account import Credentials

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

credentials = Credentials.from_service_account_file('ghtojupyter28596-a882b1450011.json', scopes=scope)

gc = gspread.authorize(credentials)

df_cek = gc.open("Cekmekoy").sheet1
df_bey = gc.open("Beylikduzu").sheet1
df_ava = gc.open("Avantaj").sheet1
df_ata = gc.open("Atakent").sheet1

In [ ]:
bey=get_as_dataframe(df_bey)

In [ ]:
bey.info()

In [ ]:
ata=get_as_dataframe(df_ata)

In [ ]:
ata.info()

In [ ]:
ata.iloc[:1]

In [ ]:
ata.info()

In [ ]:
ava=get_as_dataframe(df_ava)

In [ ]:
ava.iloc[:1]

In [ ]:
cek=get_as_dataframe(df_cek)

In [ ]:
cek.info()

In [ ]:
cek.iloc[:1]

In [ ]:
df = pd.concat([cek, ata,bey, ava], ignore_index=True)

In [ ]:
df.dropna(how='all',inplace=True)

In [ ]:
df.drop(columns=['Unnamed: 18','Unnamed: 19','SKU Type','26w $volume%',
                 'Store_Size','Brand Size','SKU Type','SKU Type2'],inplace=True)

In [ ]:
df.head()

In [ ]:
df.to_csv('raw.csv',index=False)

dfs = [get_as_dataframe(x) for x in df_ls]

In [ ]:
df.head(2)

In [ ]:
df['UPC'] = df['UPC'].astype('int')

In [ ]:
df['ScanId'] = df['ScanId'].astype('int')

In [ ]:
df['Created Time']=pd.to_datetime(df['Created Time'])

In [ ]:
#df2=df.iloc[:,:10]

In [ ]:
%pwd

In [ ]:
df1=df.copy()

In [ ]:
df_m=pd.read_excel('master_uni.xlsx',index_col=False)

In [ ]:
df_m.head()

In [ ]:
df_m.info()

In [ ]:
df2=pd.merge(df1,
            df_m,
            on='UPC',
            how='left')

In [ ]:
df2['Facing'] = df2['Facing'].fillna(0.0)

In [ ]:
df2['OSA'] = [1 if x >0 else 0 for x in df2['Facing']]

In [ ]:
def storeNames(df2):
    if df2.StoreId==53.0:
        return "Beylikduzu Koctas"
    elif df2.StoreId==52.0:
        return "Cekmekoy"
    elif df2.StoreId==51.0:
        return "Atakent"
    elif df2.StoreId==54.0:
        return 'Avantaj Ikitelli'


df2['Store_Names']=df2.apply(storeNames,axis=1)

In [ ]:
df2['OOS'] = [1 if x==0 else 0 for x in df2['OSA']]

In [ ]:
df2.drop(columns=['daysdiff','cons'],inplace=True)

In [ ]:
df2.head()

In [ ]:
df2.to_csv('df_uni.csv',index=False)

In [ ]:
df1['Size'] = df1['Name'].str.rsplit(' ').str[-1]

In [ ]:
df1.head(2)

df1.dropna(subset=['Facing'],inplace=True)

In [ ]:
df1['Facing'] = df1['Facing'].fillna(0.0)

In [ ]:
df1['Product_Type'] = pd.np.where(df1.Name.str.contains('(?:Krem|krem|Kremi|Conditioner)',
                                        regex=True), "Krem",
                   pd.np.where(df1.Name.str.contains('(?:Sampuan|2si 1 arada|Shampoo|Temel Bakim Ekonomik Boy 2si 1 Arada|Kepege Karsi Etkili Ekonomik Boy 2si 1 Arada|Dove Uzun Sac Terapisi 600 ml|\
                                                     2si 1 Arada|Sac Derisi Rahatlatici|\
                                                     Dove Uzun Sac Terapisi|Elseve Arginine Direnc Ozel Fiyat|Head & Shoulders Kadinlara Ozel Sac Dokulmelerine Karsi)',
                                        regex=True), "Sampuan",
                   pd.np.where(df1.Name.str.contains('(?:Elixir|mask|Gloss|Intense Therapy|Mask|Maske|Iksiri|Yag|Oil|Bakim Sprey|Therapy\
                                                     |Onarici)',
                                        regex=True), "others", "others")))

In [ ]:
df1['Size']=pd.np.where(df1.Name.str.contains('(?:Dove Uzun Sac Terapisi 600 ml ( Pink ))',
                                        regex=True), "600ml",df1['Size'])

In [ ]:
df1['Size']=pd.np.where(df1.Name.str.contains('',
                                        regex=True), "450ml",df1['Size'])',
                                        regex=True), "450ml",df1['Size'])

In [ ]:
df1['Size']=pd.np.where(df1.Name.str.contains('(?:Pack)',
                                        regex=True), "360ml + 150 mL",df1['Size'])

In [ ]:
df1['Size']=pd.np.where(df1.Name.str.contains('(?:Fiyat)',
                                        regex=True), "No Size",df1['Size'])

In [ ]:
df1['Size']=pd.np.where(df1.Name.str.contains('(?:Paketi|Hediye|Promo (black))',
                                        regex=True), "No Size",df1['Size'])

In [ ]:
df1['Size']=df1.Size.apply(lambda x: "275ml" if x=='ml' else x )

In [ ]:
df1['Size']=df1.Size.apply(lambda x: "400ml" if x=='(red)' else x )

In [ ]:
df1['Size']=df1.Size.apply(lambda x: "150ml" if x=='center)' else x )

In [ ]:
df1['Size']=df1.Size.apply(lambda x: "400ml" if x=='(grey)' else x )

In [ ]:
df1['Size']=df1.Size.apply(lambda x: "No Size" if x=='(black)' else x )

In [ ]:
df1['Size']=df1.Size.apply(lambda x: "No Size" if x=='(white)' else x )

In [ ]:
df1['Size']=df1.Size.apply(lambda x: "No Size" if x=='(gold)' else x )

In [ ]:
df1['Size']=df1.Size.apply(lambda x: "500ml" if x==')' else x )

In [ ]:
df1['Size']=df1.Size.apply(lambda x: "400ml" if x=='(orange)' else x )

In [ ]:
df1['Size']=df1.Size.apply(lambda x: "No Size" if x=='(brown)' else x )

In [ ]:
df1['Size']=df1.Size.apply(lambda x: "No Size" if x=='(purple)' else x )

In [ ]:
df1['Size']=df1.Size.apply(lambda x: "No Size" if x=='Shampoo' else x )

In [ ]:
df1['Size']=df1.Size.apply(lambda x: "No Size" if x=='(pink)' else x )

In [ ]:
df1['Size']=df1[['Name','Size']].apply(lambda x: "600ml" if x['Name']=='Dove Uzun Sac Terapisi 600 ml ( Pink )'\
                           else x['Size'], axis=1)

In [ ]:
df1['Size']=df1[['UPC','Size']].apply(lambda x: "2 x 500ml" if x['UPC']=='8001090858917.0'\
                           else x['Size'], axis=1)

In [ ]:
df1['Product_Type']=df1[['UPC','Product_Type']].apply(lambda x: "Sampuan" if x['UPC']=='8697432094039.0'\
                           else x['Product_Type'], axis=1)

In [ ]:
df1[df1['Size']=='(pink)'].Name.to_list()

In [ ]:
df1[df1['Product_Type']==""].Name.value_counts()

In [ ]:
pd.DataFrame(df1[df1['Product_Type']=='others'].\
             groupby(['Brand','UPC','Name','Name_new','Size','Product_Type'])['UPC'].count())

In [ ]:
remove_words=df1.Size.to_list()

In [ ]:
pat = r'\b(?:{})\b'.format('|'.join(remove_words))

In [ ]:
df1['Name_new'] = df1['Name'].str.replace(pat, '')

df1 = df1[df1['Facing'].notna()]

In [ ]:
df1['OSA'] = [1 if x >0 else 0 for x in df1['Facing']]

df1['day_of_week']=df1['Created Time'].dt.dayofweek
days = {0:'Mon',1:'Tues',2:'Weds',3:'Thurs',4:'Fri',5:'Sat',6:'Sun'}
df1['day_of_week'] = df1['day_of_week'].apply(lambda x: days[x])

df1.drop(columns=['Krem','Sampuan'],inplace=True)

In [ ]:
df1['Name_new'] = df1['Name_new'].str.replace('600 ml', '')

In [ ]:
def storeNames(df1):
    if df1.StoreId==53.0:
        return "Beylikduzu Koctas"
    elif df1.StoreId==52.0:
        return "Cekmekoy"
    elif df1.StoreId==51.0:
        return "Atakent"
    elif df1.StoreId==54.0:
        return 'Avantaj Ikitelli'


df1['Store_Names']=df1.apply(storeNames,axis=1)

In [ ]:
df1.to_csv('uni.csv',index=False)

In [ ]:
df_ava=df1[df1['Store_Names']=='Avantaj Ikitelli'][["UPC",'Created Time','Facing','OSA']]

In [ ]:
df_ava['Created Time']=pd.to_datetime(df_ava['Created Time'])

In [ ]:
df_ava.rename(columns={'Created Time':"Date"},inplace=True)

In [ ]:
df2.rename(columns={'Created Time':"Date"},inplace=True)

df2['Values']=df2.OSA.apply(lambda x: 1 if x==0 else 0)

In [ ]:
df1[(df1['UPC']=='3600521899861.0') & (df1['Values']==1)]

In [ ]:
df2['UPC2']=df2.UPC

In [ ]:
df2['daysdiff'] = df2.sort_values('Date').groupby(['UPC'])['Date'].diff()


df2['cons'] = (df2.sort_values('Date').groupby('UPC')['daysdiff']
                .apply(lambda x: (x.bfill().dt.days != 1).cumsum()))
new=(df2.groupby(['UPC','cons'])['Date']
        .agg({'OOS':'sum','Date':['min','max']})
        .reset_index(level=1, drop=True))

In [ ]:
new.reset_index(inplace=True)

In [ ]:
new=pd.DataFrame(new)

In [ ]:
new.head()

In [ ]:
upc_3600521899861=df2[(df2['UPC']==3600521899861)& (df2['OSA']==0)]

In [ ]:
upc_3600521899861

In [ ]:
new.info()

In [ ]:
new[(new['UPC']=='3600521899861.0') & (new[('OOS', 'sum')]!=0)]

def max_streak(s):
        s1 = s.cumsum()
        return s.mul(s1).diff().where(lambda x: x < 0) \
                .ffill().add(s1, fill_value=0).max()

streaks=df1.sort_values(['Date', 'UPC']) \
           .groupby(['UPC'])['Values'] \
           .agg(['size', max_streak]).round(2)

streaks.sort_values(by='count_streak',ascending=False)

In [ ]:
df

In [ ]:
df1.to_csv('df_uni.csv',index=False)

In [ ]:
df1[df1['UPC']=='3600521900918.0'].sort_values( by='Date',ascending=True)

In [ ]:
df1[df1['Product_Type']=='Sampuan'].Name_new.value_counts().sort_index()#sort_values(by='Name_new',ascending=False)

In [ ]:
filter1=df1['Name_new'].isin(["Yumusak & Parlak Kiraz Cicegi Sampuan (pink)", 
                                 "Yumusak Parlak Kiraz Cicegi Sampuan (pink)" ]).head()

In [ ]:
df1[df1['Name_new']=='Yumusak & Parlak Kiraz Cicegi Sampuan (pink)']

In [ ]:
df1[(df1['Manufacturer']=="L'Oreal") & (df1['Created Time']=="2019-12-09") ]['OSA'].sum()

In [ ]:
df1[df1['Created Time']=="2019-12-09" ]['OSA'].count()

In [ ]:
df1.head(2)

In [ ]:
df1['UPC2']=df1['UPC']

In [ ]:
osa_sos_all_mfg=df1[df1['Shift']=='morning'].groupby(['Created Time','StoreId','Manufacturer']).agg({'OSA':"sum",\
                                                'UPC':'count',
                                                'UPC2': lambda x: x.nunique(),
                                                 'Facing':"sum"})

In [ ]:
osa_sos_all_mfg.info()

In [ ]:
osa_sos_all_mfg.head()

In [ ]:
osa_sos_all_mfg.rename(columns={'UPC':'rowcount',
                   'OSA':'OSA_sum',
                          'UPC2':"num_unique_SKUs"},inplace=True)

In [ ]:
osa_sos_all_mfg['OSA_pcnt']=100*osa_sos_all_mfg['OSA_sum']/osa_sos_all_mfg['rowcount'].astype(int)

In [ ]:
osa_sos_all_mfg['SOS_pcnt'] =osa_sos_all_mfg.groupby(['Created Time'])['Facing'].transform(
                           lambda x: 100*x/x.sum())

In [ ]:
osa_sos_all_mfg['SOS_pcnt']=osa_sos_all_mfg.SOS_pcnt.astype(float)

In [ ]:
osa_sos_all_mfg[(osa_sos_all_mfg['StoreId'==51.0]) & (osa_sos_all_mfg['Manufacturer'=='Unilever']\
                                                    ) &(osa_sos_all_mfg['Shift']=='morning')]

In [ ]:
osa_sos=df1.groupby(['Created Time','Shift','StoreId','Store_Names','Manufacturer']).agg({'OSA':"sum",\
                                                                            'UPC':'count',
                                                                            'UPC2': lambda x: x.nunique(),
                                                                           'Facing':"sum"})

In [ ]:
osa_sos.reset_index(inplace=True)

In [ ]:
osa_sos.rename(columns={'UPC':'rowcount',
                   'OSA':'OSA_sum',
                          'UPC2':"num_unique_SKUs"},inplace=True)

In [ ]:
osa_sos[osa_sos['Shift']=='morning'].head(15)

In [ ]:
#OSA: row count for UPC and sum for OSA by brand, drop NAs for % retail 1-out of stock
#SOS: use sum of facing over total facing

In [ ]:
osa_sos['OSA_pcnt']=100*osa_sos['OSA_sum']/osa_sos['rowcount'].astype(int)

In [ ]:
osa_sos['SOS_pcnt'] =osa_sos.groupby(['Created Time','StoreId','Store_Names','Shift'])\
['Facing'].transform(lambda x: 100*x/x.sum())

In [ ]:
osa_sos['SOS_pcnt']=osa_sos.SOS_pcnt.astype(float)

In [ ]:
osa_daily_avg_allstores=osa_sos.groupby(['Shift','Created Time'])['OSA_pcnt'].mean()

In [ ]:
osa_daily_avg_allstores

In [ ]:
osa_sos.to_csv("osa_sos.csv",index=False)

In [ ]:
osa_mor_all_mfg=osa_sos[(osa_sos['Shift']=='morning') & (osa_sos['Created Time']=='2019-12-09')]

In [ ]:
osa_mor_all_mfg.groupby('Created Time').agg({
    'OSA_pcnt':'sum',
    'Created Time':'count'
},axis=1)

In [ ]:
osa_mor_all_mfg.reset_index(inplace=True)

In [ ]:
ata_mor=osa_mor_all_mfg[osa_mor_all_mfg['StoreId']==51.0]

In [ ]:
osa_mor_all_mfg

In [ ]:
ata_mor.rowcount.sum()

In [ ]:
ata_mor.OSA_sum.sum()

In [ ]:
100*141/158

In [ ]:
%pwd

In [ ]:
morning=df1[df1['Shift']=='morning'].groupby('Created Time').agg({'OSA':'sum',
                                                                         'UPC':"count"})

In [ ]:
morning['OSA_pcnt']=100*morning['OSA']/morning['UPC'].astype(float)